.body {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.body > h1 {
  font-size: 3rem;
  border-bottom: 2px solid grey;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.body > .cards > .col1 {
  display: flex;
  flex-direction: column;
}

.body > .cards > .col2 {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
  }
  .body > h1 {
    font-size: 1.2rem;
  }
  .cards {
    flex-direction: column;
    width: 70%;
  }
}
