.box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 2em 1.2em 0 1em;
  margin: 1vw 0 3.6vw 0;
  min-height: 320px;
  box-shadow: 5px 5px 5px 5px rgba(22, 9, 9, 0.08);
  transition: transform 400ms ease-in-out;
  position: relative;
  /* background-color: green; */
}

.hide-box {
  display: none;
}

.box:hover {
  transform: scale(1.05);
}

.box > p {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

.invest {
  border: 1px solid black;
  text-align: center;
}

.invest::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background: no-repeat center url("./../images/investbg.jpg");
  object-fit: contain;
  background-size: cover;
  opacity: 0.5;
}

.invest > p {
  margin-top: 2em;
}

.gov {
  border: 1px solid black;
  text-align: center;
}

.gov::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background: no-repeat center url("./../images/govbg.png");
  object-fit: contain;
  background-size: cover;
  opacity: 0.5;
}

.raise-funds::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center url("./../images/raiseFund.jpg");
  object-fit: contain;
  background-size: cover;
  opacity: 0.5;
}

.get-debt::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center center url("./../images/getDebt.jpg");
  object-fit: contain;
  background-size: cover;
  opacity: 0.4;
}

.portfolio::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center center url("./../images/portfolio.jpg");
  object-fit: contain;
  background-size: cover;
  opacity: 0.6;
}

.contact-us::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center center url("./../images/contactUs.jpg");
  object-fit: contain;
  background-size: cover;
  opacity: 0.3;
}

.box > h2 {
  align-self: center;
}

#clk-btn {
  border-radius: 210px;
  align-self: flex-end;
  width: 100%;
  cursor: pointer;
}

.clk-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hide-btn {
  display: none;
}

@media only screen and (max-width: 572px) {
  .box {
    display: inline-block;
    text-align: center;
    height: 240px;
  }
  .box h2 {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
  }
  .box p {
    font-weight: 400;
  }
  .invest {
    height: 100px;
  }
  .invest h2 {
    border: none;
  }
  .invest > p {
    margin-top: 7em;
  }
  .hide-box {
    display: none;
  }
}
