.header {
  display: flex;
  background-color: green;
  align-items: center;
  opacity: 0.7;
}

.header > h1 {
  padding: 12px;
}

.header > ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  color: white;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

li:hover {
  font-size: 1.4rem;
  color: grey;
}

.header > img {
  border-radius: 50%;
  width: 5%;
  padding: 12px;
}
