.header {
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.left-corner {
  display: flex;
  align-items: center;
}

.header > .left-corner > .profileImg {
  display: none;
  border-radius: 50%;
  width: 12%;
}

.header > .left-corner > h1 {
  padding: 0 0.9em;
}

.header > .right-corner {
  display: flex;
  align-items: center;
}

.header > .right-corner > ul {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 8em;
  align-items: center;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  color: white;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

li:hover {
  font-size: 1.4rem;
  color: grey;
}

.header > .right-corner > img {
  border-radius: 50%;
  width: 12%;
  padding: 12px;
}

@media only screen and (max-width: 768px) {
  .header {
    border-radius: 0 0 0.5em 0.5em;
  }
  .header .left-corner h1 {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    padding: 0;
    color: white;
  }
  .header .right-corner > ul {
    margin: 0 1em 0 auto;
    justify-content: space-between;
    gap: 0.7em;
  }
  li {
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
  }
  li:hover {
    font-size: 0.8rem;
  }
  .header > .right-corner > img {
    display: none;
  }
}
