.sidebar {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 1em 2em 0;
}

.sidebar > button {
  width: 100%;
  color: white;
  background-color: green;
  border: none;
  font-size: 2rem;
  display: flex;
  transform: scaleX(-1);
  justify-content: flex-end;
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em 0 0 0.5em;
}

.sidebar > .btn-clicked {
  transform: scaleX(1);
  border-radius: 0;
}

.sidebar > img {
  border-radius: 50%;
  object-fit: contain;
  padding: 0.9em;
  width: 60%;
  margin-bottom: 1em;
  display: none;
}

.sidebar > .list {
  display: none;
}

.sidebar > .showImg {
  display: block;
}

.sidebar > .showList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .sidebar > .showImg {
    display: none;
  }
}
