.c-me {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(70deg, green, white 90%);
  color: red;
}

.c-me h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
}

.gap {
  margin-bottom: 2%;
  color: red;
}

.gap:hover {
  background-image: linear-gradient(white);
}

.form-c {
  margin-left: 20%;
}

.sun-but {
  margin-left: 19px;
}

.sun-but button {
  margin-top: 10%;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 5px black;
}

.sun-but button {
  font-size: 20px;
  color: black;
}

.sun-but:hover {
  color: red;
}

.touch {
  margin-left: 40%;
  margin-top: -30px;
}

.inl {
  display: inline-flex;
  margin-left: 100px;
  font-size: 30px;
}

.gap input {
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

.touch p {
  margin-top: -30px;
}
