.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: 100vh;
  max-width: 100%;
}

.leftContact {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.leftContact .bgImg {
  width: 60%;
  border: 5px solid grey;
  object-fit: contain;
  border-radius: 1em;
}

.leftContact .bgImg img {
  width: 100%;
  z-index: 1;
}

.leftContact .chatIcon {
  color: green;
  position: absolute;
  top: 85%;
  left: 18%;
  background-color: white;
}

.rightContact {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.rightContact .messageField {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.rightContact .messageField input {
  border: none;
  color: black;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.rightContact .messageField button {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.08);
  background-color: green;
  color: white;
}

.rightContact h2 {
  border-bottom: 2px solid green;
  text-shadow: 2px 2px 2px green;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .leftContact {
    width: 100%;
  }

  .rightContact {
    width: 100%;
  }
}
