.government > .gov-body {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.government > .gov-body > .gov-left {
  margin-top: 5em;
}

.government > .gov-body > .gov-mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  width: 100%;
}

.gov-mid > button {
  align-self: center;
  background-color: green;
  border-radius: 10px;
  border: none;
  font-size: large;
  width: 20%;
  color: white;
  font-size: x-large;
  padding: 0.5em 1em;
  cursor: pointer;
}

.government > .gov-body > .gov-right {
  width: 20%;
  transform: translate(0%, 15%);
}

@media only screen and (max-width: 768px) {
  .gov-body {
    position: relative;
  }
  .gov-mid {
    flex: 1;
    width: 100%;
  }
  .gov-right {
    display: none;
  }
  .gov-mid > button {
    font-size: 1rem;
    width: 50%;
    padding: 8px;
  }
}
