.government {
  display: flex;
  background: no-repeat center center fixed
    url("./images/contact_partners_handshake.jpg");
  background-size: cover;
}

.government > .gov-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.gov-right > button {
  align-self: center;
  background-color: green;
  border-radius: 4px;
  border: none;
  font-size: large;
  width: 10%;
  color: white;
  font-size: x-large;
}

@media only screen and (max-width: 572px) {
  .gov-right > button {
    font-size: 1rem;
    width: 50%;
    padding: 8px;
  }
}
