.login {
  background: no-repeat center center fixed
    url("images/contact_partners_handshake.jpg");
  display: flex;
  background-size: cover;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  justify-content: center;
  gap: 5em;
}

.login > .left {
  display: flex;
  flex-direction: column;
}

.login > .left > h1 {
  font-size: 3rem;
  color: green;
  position: relative;
  text-shadow: 5px 5px 5px black;
}
.login > .left > span {
  color: black;
  font-weight: 700;
}
.login > .left > img {
  border-radius: 50%;
  animation: logo_animation 4s linear ease-in-out;
}

.login > .right {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1em;
}

.login > .right:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 572px) {
  .login {
    flex-direction: column;
    gap: 0;
  }
  .login > .left > img {
    text-align: center;
    margin-top: 3em;
  }
}
